@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased font-default;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #e3dbd4;
}

body::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}

td, th {
  @apply py-3 max-sm:py-2 px-2 whitespace-nowrap bg-white text-right min-w-[85px]
}

th {
  @apply font-normal
}